node_modules
**/node_modules
dist
**/dist
.next
**/.next
.turbo
coverage
**/.coverage
*.log
.env
.env.*
!.env.example
.git
.github
.gitlab
.cursor
postman
docs
**/*.md
!README.md
**/*.spec.ts
**/*.test.ts
**/test
**/coverage
.DS_Store
*.tsbuildinfo
terminals
